<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64342131456-o9ge6btjerulvhlmotpgap5nch7ceqc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64342131456-o9ge6btjerulvhlmotpgap5nch7ceqc6</string>
	<key>API_KEY</key>
	<string>AIzaSyC4y56ow98j7g5Cs9JLBI7nlOfFE8YkbqE</string>
	<key>GCM_SENDER_ID</key>
	<string>64342131456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taibah.hajjapp</string>
	<key>PROJECT_ID</key>
	<string>taibah-hajj-app</string>
	<key>STORAGE_BUCKET</key>
	<string>taibah-hajj-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64342131456:ios:50278b80143e385e05a9e5</string>
	<key>DATABASE_URL</key>
	<string>https://taibah-hajj-app.firebaseio.com</string>
</dict>
</plist>